extend layout.pug

block content
  h1 发帖
  form(action="/add-post" method="post")
    | 标题:
    br
    input(type='text', name='title')
    | 内容:
    br
    textarea(name="content" rows="30" cols="8")
    br
    button 发帖
