extend layout.pug


block content
  <div class="container">
    <ul class="list-unstyled threadlist mb-0">
        each post in posts
          <li>
            a(href="/post/" + post.postId)= post.title
            span by #{post.name}
          </li>
    </ul>

  </div>
