extend layout.pug

block append styles
  <link href="/index.css" rel="stylesheet">
block content
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="card">
          <ul class="list-unstyled threadlist mb-0">
            each post in posts
              <li class="media thread tap">
                a(href="/post/" + post.postId).ml-1.mt-1.mr-3= post.title
                <span>
                  |by #{post.name}
                </span>
              </li>
            </ul>
        </div>
      </div>
    </div>


