doctype html

html
  head
    meta(charset="UTF-8 ")
    title 我的论坛 #{title}
    block scripts
      script(src='/jquery.min.js')
    style
      include ./css/layput.css

  body
    block content
    block foot
      #footer
        p &copy
