extend layout.pug

block content
  <h1>Login</h1>
  <form action="/login?next=#{returnUrl}" method="post">
    <div>用户名: <input type="text" name="name"></div>
    <div>密码: <input type="password" name="password"></div>
