extend layout.pug

block append scripts
  script(src="/spark-md5.min.js")

block content
  h1 登录
  if session.刚刚登录失败的原因
    p= session.刚刚登录失败的原因
  form(action="/login?next=#{returnUrl}", method='post')
    div
      | 用户名:
      input(type='text', name='name')
    div
      | 密码:
      input(type='password', name='password')

    if session.loginFailCount >= 3
      div
        | 验证码:
        input(type='text', name='captcha')
        br
        img(src="/captcha")
    button 登录
    |
    |
    a(href="/forget-password") 忘记密码?

  script.
    $('form').on
