extend layout.pug

block append scripts
  script(src="/spark-md5.min.js")

block content
  <div class="container">
    <div class="form row">
      <h3 class="form-title">登录</h3>
      if session.刚刚登录失败的原因
        p= session.刚刚登录失败的原因

      <form action="/login?next=#{returnUrl}" method="post" class="form-horizontal col-sm-offset-3 col-md-offset-3">
        <div class="col-sm-9 col-md-9">
          <div class="form-group">
            <i class="fa fa-user" aria-hidden="true"></i>
            <input type="text" name="name" class="form-control" placeholder="请输入用户名" required autofocus>
          </div>

          <div class="form-group">
            <i class="fa fa-key fa-fw" aria-hidden="true"></i>
            <input type="password" name="password" class="form-control required" placeholder="请输入密码" required>
          </div>

          <div class="form-group">
            <button class="btn btn-success pull-content">登录</button>
          </div>
          a(href="/forget-password") 忘记密码?
        </div>

        if session.loginFailCount >= 3
          <div>验证码: <input type="text" name="captcha"></div>
          <div><img src="/captcha" ></div>


        |
        |

      </form>
    </div>
  </div>


  script.
    $('form').on('submit', (e) => {
      var pwd = $('input[type="password"]').val()
      pwd = SparkMD5.hash(pwd)
      $('input[type="password"]').val(pwd)
    })
    $('img').on('click', function(){  // 切换验证码
      this.src = '/captcha?t=' + Date.now()
    })

