extend layout.pug


block content

    h1 注册
    form(action='/register', method='post')
      div
        | 用户名:
        input(type='text', name='name')
      div
        | 邮箱:
        input(type='email', name='email')
      div
        | 密码:
        input(type='password', name='password')
      div
        | 确认密码:
        input(type='password', name='password1')
      button 注册
